body {
    background-image: url('image/background2.jpg');  
    background-size: cover;
    background-size: 100% 100%;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: black;
    border-right:1px solid #bbb;
  }
  
  .navbar a {
    float: left;
    font-size: 22px;
    color:white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    margin-left: 40px;
    border-right:1px solid #bbb;
  }
  
  .navbar a:hover{
    background-color: #BB8FCE;
    border-right:1px solid #bbb;
  }
  
  .navbar a:active{
    background-color: green;
    border-right:1px solid #bbb;
  }
  
  body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    position: fixed;
    overflow: auto;
  }
  
  li a {
    display: block;
    font-size: 25px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 15px;
    color: #ffb3b3;
  }
  
  li a.active {
    color: #99b3ff;
  }
  
  li a:hover:not(.active) {
    background-color: #808080;
    color: white;
  }
  
  .card {
    display: grid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 340px;
    height: 380px;
    font-family: arial;
    background color: white;
    margin-top:30px;
    margin-left:150px;
  }
  
  .price {
    color: grey;
    font-size: 18px;
  }
  
  .column {
    float: left;
    width: 50%;
    padding: 0 40px;
    margin-left:-120px;
  }
  
  
  .row {
    margin: 10px;
    margin-left:220px;
  }

  body {
	font-family: Arial;
	color: #211a1a;
	font-size: 0.9em;
}

#shopping-cart {
	margin: 40px;
}

#product-grid {
  margin: 50px;
  
  
}




#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	float: right;
	text-decoration: none;
	border-radius: 3px;
	margin: 10px 0px;
}
p{
  font-family:Florence,cursive;
	font-size:16px;  
}

.btnAddAction {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #efefef;
    border: #E0E0E0 1px solid;
    color: #211a1a;
    float: right;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

#product-grid .txt-heading {
	margin-bottom: 18px;
}


.product-item {
	float: left;
	background: #ffffff;
    margin: 30px 30px 0px 0px;
    margin-left: 150px;
	border: #E0E0E0 1px solid;
}

.product-image {
	height: 155px;
	width: 250px;
	background-color: #FFF;
    margin-left: 75px;
    margin-right: 75px;
}

.product-title {
  margin-bottom: 20px;
  
}

.product-price {
	float:left;
}

.cart-action {
	float: right;
}

.product-quantity {
    padding: 5px 10px;
    border-radius: 3px;
    border: #E0E0E0 1px solid;
}

.product-tile-footer {
    padding: 15px 15px 0px 15px;
    overflow: auto;
}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #363636;
  border: none;
  color: white;
  text-align: center;
  font-size: 18px;
  padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

